{% extends 'catalog/base.html' %}

{% block content %}
{% load custom_tags %}
<div class="row text-center  mb-3">{% if user.is_authenticated %}
    <a type="button" class="btn btn-success" href="{% url 'catalog:create_product' %}">Создать продукт</a>
</div>
<div class="row text-center  mb-3">
    <a type="button" class="btn btn-success" href="{% url 'catalog:create_version' %}">Добавить версию</a>
</div>{% endif %}
<div class="row text-center">
    {% for object in object_list%}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ object.preview|mediapath }}"  height="200" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title" >{{ object.name }}</h6>
            <p class="card-text">{{ object.description|slice:"100"}}...</p>
              <a type="button" class="btn btn-outline-success" href="/product/{{ object.pk }}/">$ {{ object.price}}</a>
              {% if user.is_authenticated %}
              <a type="button" class="btn btn-outline-secondary" href="{% url 'catalog:update_product' object.pk%}">
                  Edit
                  </a>
              <a type="button" class="btn btn-outline-danger" href="{% url 'catalog:delete_product' object.pk%}">
                  Delete
                  </a>{% endif %}
                  <div class="text">
                      {% if not object.version_set.all %}
                        <p>Нет активных версий</p>
                      {% endif %}
                    {% for version in object.version_set.all %}
                        {% if version.is_current %}
                            <p>Активная версия: {{ version.version_name }}</p>
                        {% endif %}
                    {% endfor %}
                  </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{%endblock%}
